body {
    margin: 0;
    padding: 0;
    background-image: url('../assets/clasterbackground.png');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1000px;
    height: 600px;
}

.canvas-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
}

#canvas {
    border: 3px solid #ffffff;
    background-color: #2f21aa;
    cursor: crosshair;
    width: 600px;
    height: 600px;
}

.controls {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-left: 20px;
    width: 200px;
    flex-shrink: 0;
}

button {
    width: 200px;
    height: 200px;
    cursor: pointer;
    background-color: transparent;
    border: none;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    padding: 0;
}

#runButton {
    background-image: url('../assets/start.png');
}

#runButton:hover {
    background-image: url('../assets/startsvet.png');
}

#clearButton {
    background-image: url('../assets/clear.png');
}

#clearButton:hover {
    background-image: url('../assets/clearsvet.png');
}

.slider-container {
    background: #4e41c7;
    padding: 15px;
    border-radius: 10px;
    text-align: center;
}

.slider-container label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
    color: white;
}

.slider-container input[type="range"] {
    width: 100%;
}

.home-button {
    position: fixed;
    left: 70px;
    bottom: 40px;
    background-image: url('../assets/backclaster.png');
    width: 150px;
    height: 50px;
    background-size: contain;
    background-repeat: no-repeat;   
    border: none;
    cursor: pointer;
}

.home-button:hover {
    background-image: url('../assets/backclastersvet.png');
}
