body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: flex-start; 
    padding-left: 260px;
    background-color: #f5f5f5;
    background-image: url('../assets/robotbackground.png');
    background-size: cover;
    background-position: center;
    position: relative;
    min-height: 100vh;
    margin: 0;
    box-sizing: border-box;
    padding-top: 40px;
}

#result {
    position: fixed; 
    top: 232px;
    right: 350px;
    color: rgba(74, 84, 195, 0.8);    
    font-size: 24px;    
    font-weight: bold;
    text-shadow: 1px 1px 2px rgba(0,0,0,0.5); 
}

.canvas-container {
    margin: 20px 0;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

canvas {
    border: 2px solid #333;
    background-color: white;
    cursor: crosshair;
}

button {
    width: 200px;
    height: 200px;
    cursor: pointer;
    background-color: transparent;
    border: none;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    margin-top: -60px;
    margin-left: -12px;
}

#startButton {
    background-image: url('../assets/robotsaybutton.png');
}

#startButton:hover {
    background-image: url('../assets/robotsaybuttonsvet.png');
}

#clearButton {
    background-image: url('../assets/robotclearbutton.png');
}

#clearButton:hover {
    background-image: url('../assets/robotclearbuttonsvet.png');
}

.home-btn {
    position: fixed;
    left: 20px;
    bottom: 20px;
}

.home-btn-img {
    display: block;
    height: 40px;
    transition: opacity 0.2s;
}

.home-btn-img-hover {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    height: 40px;
    transition: opacity 0.2s;
}

.home-btn:hover .home-btn-img {
    opacity: 0;
}

.home-btn:hover .home-btn-img-hover {
    opacity: 1;
}   

#result {
    font-size: 24px;
    font-weight: bold;
    margin: 15px 0;
    margin-top: -40px;
    margin-left: 1px;
}

.prob-container {
    display: flex;
    gap: 15px;
    margin-top: 10px;
}

.prob-bar {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.prob-fill {
    width: 21px;
    height: 50px;
    background-color: #cfcff5;
    position: relative;
}

.prob-fill::after {
    content: '';
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: #2721c3;
    transition: height 0.3s;
}

.prob-label {
    margin-top: 5px;
    font-weight: bold;
}